# ===================
# Operating Systems
# ===================
.DS_Store
Thumbs.db

# ===================
# IDE & Editors
# ===================
## IntelliJ & JetBrains IDEs
.idea/
*.iml
out/
!**/src/main/**/out/
!**/src/test/**/out/

## Eclipse
.project
.classpath
.factorypath
.settings/
.sts4-cache/
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

## NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

## VS Code
.vscode/

# ===================
# Java
# ===================
*.class
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*
*.log

# ===================
# Mobile / J2ME
# ===================
.mtj.tmp/

# ===================
# Generated
# ===================
# Crashlytics & Fabric
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# ===================
# Other
# ===================
# BlueJ files
*.ctxt

# ===================
# Plugins and Misc
# ===================
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries/
.idea/**/shelf/
.idea/**/aws.xml
.idea/**/contentModel.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
.idea/**/gradle.xml
.idea/**/libraries/
.idea/**/mongoSettings.xml
.idea/**/sonarlint/
.idea/**/sonarIssues.xml
.idea/**/markdown-navigator*
.idea/**/codestream.xml
.idea/**/azureSettings.xml
.idea/**/httpRequests
.idea/caches/
.idea/$CACHE_FILE$
